body{
    background-color: #87291e;
    color: #d0ae65
}


#main-section {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}
#map{
    height: 80vh;
    width: 90vw;
    background-color: bisque;
    ;
}

